.blog__title {
    margin: 0 0 25px 0;
    font-size: 50px;
    line-height: 1;
}

.blog__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.blog__item {
    max-width: 370px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    padding: 24px;
    text-align: center;
}

.blog__item:hover {
    transform: translateY(-4px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.blog__item:active {
    transform: scale(0.98);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.blog__item a {
    text-decoration: none;
    color: inherit;
}

.blog__figure {
    margin: 0;
}

.blog__image {
  width: 300px;
  height: 300px;
  object-fit: cover;
  object-position: center;
  border-radius: 8px;
}

.blog__name {
    margin: 0 0 10px 0;
    font-size: 26px;
}

.blog__description {
    margin: 0;
}

@media (max-width: 767px) {
    .blog__title {
        font-size: 35px;
    }
}