.category__title {
    margin: 0 0 25px 0;
    font-size: 50px;
    line-height: 1;
}

.category__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 0;
    margin: 0;
    list-style: none;
}

.category__item {
    width: 265px;
    padding: 16px;
    text-align: center;
    flex-shrink: 0;
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;
}

.category__item a {
    text-decoration: none;
    color: inherit;
}

.category__item:hover {
    transform: translateY(-4px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.category__item:active {
    transform: scale(0.98);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.category__img {
    width: 100%;
    height: auto;
    margin-bottom: 12px;
    border-radius: 8px;
}

.category__name {
    margin: 0;
    font-size: 20px;
}

.category__price {
    font-size: 22px;
    font-weight: bold;
    color: var(--main-color);
}

@media (max-width: 1024px) {
    .category__item {
        width: calc((60vw - 40px) / 2);
    }
}

@media (max-width: 767px) {
    .category__title {
        font-size: 35px;
    }

    .category__list {
        row-gap: 15px;
        column-gap: 5px;
    }

    .category__item {
        width: calc((100vw - 40px) / 2);
    }
    
    .category__img {
        margin-bottom: 6px;
    }

    .category__name {
        font-size: 18px;
    }
}