.card {
    margin-bottom: 60px;
}

.card__title {
    margin: 0 0 25px 0;
    font-size: 50px;
    line-height: 1;
}

.card__body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.images__wrapper {
    margin: 0 0 25px 0;
    position: relative;
    overflow: hidden;
    max-width: 550px;

}

.images__list {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    padding: 0;
    margin: 0;
    list-style: none;
}

.images__list::-webkit-scrollbar {
    display: none;
}

.images__item {
    width: 550px;
    scroll-snap-align: start;
    flex-shrink: 0;
}

.card__image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.card__thumbnails {
    margin: 0;
    padding: 0;
    max-width: 550px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    list-style: none;
}

.card__thumbnail {
    position: relative;
    height: 170px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;
}

.card__thumbnail:hover {
    transform: translateY(-4px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.card__thumbnail:active {
    transform: scale(0.98);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.card__thumbnail img {
    width: auto;
    height: 100%;
    border-radius: 8px;
}

.card__thumbnail::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.5);
  pointer-events: none;
}

.card__thumbnail--active::before {
  background-color: transparent;
}

.card__content {
    max-width: 580px;
    display: flex;
    flex-direction: column;
}

.card__price {
    display: block;
    margin-bottom: 10px;
    font-size: 40px;
    font-weight: bold;
    line-height: 1;
    order: 0;
}

.card__stock {
    display: block;
    margin-bottom: 20px;
    order: 1;
}

.card__description {
    order: 2;
}

.card__description p {
    margin: 0 0 20px 0;
}

.card__subtitle {
    margin: 0 0 10px 0;
}

.card__features {
    margin: 0 0 30px 0;
    padding-left: 20px;
}

.card__actions {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 20px;
    order: 3;
}

.card__btn {
    display: block;
    padding: 16px 28px;
    font-weight: bold;
    font-size: 20px;
    color: #fff;
    background-color: var(--main-color);
    box-shadow: 0 6px 16px rgba(255, 165, 58, 0.5);
    border: none;
    border-radius: 30px;
    text-decoration: none;
    cursor: pointer;
    transition: background 0.4s ease, color 0.4s ease;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.card__btn:active {
    transform: scale(0.97);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.btn--ozon::before, .btn--wb::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #00b0ff, #0085ff);
    z-index: -1;
    opacity: 0;
    transition: opacity 0.4s ease;
    border-radius: 30px;
}

.btn--wb::before {
    background: linear-gradient(90deg, #a100ff, #c700ff, #8e2eff);
}

.btn--ozon:hover::before, .btn--wb:hover::before {
    opacity: 1;
}

/* goods and reviews */

.goods {
    margin-bottom: 60px;
}

.reviews {
    margin-bottom: 30px;
}

.goods__wrapper, .reviews__wrapper {
    position: relative;
    overflow: hidden;
    max-width: 1170px;
    padding-left: 10px;
}

.goods__title, .reviews__title {
    margin: 0 0 25px 0;
    font-size: 30px;
    text-align: center;
}

.goods__list, .reviews__list {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    padding: 0;
    margin: 0;
    list-style: none;
}

.goods__list::-webkit-scrollbar, .reviews__list::-webkit-scrollbar {
    display: none;
}

.goods__item, .reviews__item {
    scroll-snap-align: start;
    flex-shrink: 0;
    margin: 10px;
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;
}

.goods__item {
    width: 265px;
    padding: 16px;
    text-align: center;
}

.goods__item a {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-decoration: none;
    color: inherit;
}

.reviews__item {
    width: 560px;
}

.goods__item:hover, .reviews__item:hover {
    transform: translateY(-4px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.goods__item:active, .reviews__item:active {
    transform: scale(0.98);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.goods__img, .reviews__img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.goods__img {
    margin-bottom: 12px;
}

.reviews__img {
    object-fit: cover;
}

.goods__name {
    margin: 0;
    font-size: 20px;
}

.goods__price {
    font-size: 22px;
    font-weight: bold;
    color: var(--main-color);
}

.slider__btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--main-color);
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-size: 20px;
    cursor: pointer;
    z-index: 5;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease;
    opacity: 0.5;
}

.slider__btn:hover {
    background-color: var(--active-main-color);
    opacity: 1;
}

.slider__btn:active {
    transform: translateY(-50%) scale(1.05);
}

.slider__btn--prev {
    left: 10px;
}

.slider__btn--next {
    right: 10px;
}

.modal {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.7);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal--active {
  display: flex;
}

.modal__img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  border-radius: 8px;
}


/* mobile styles */

@media (max-width: 1024px) {
    .goods__item {
        width: calc(50vw - 40px);
    }

    .reviews__item {
        width: calc(100vw - 40px);
    }
}

@media (max-width: 767px) {
    .card {
        margin-bottom: 30px;
    }

    .card__title {
        font-size: 35px;
    }

    .card__body {
        gap: 0;
    }

    .card__thumbnails {
        display: none;
    }

    .card__actions {
        order: 1;
        margin-bottom: 20px;
    }

    .card__btn {
        display: block;
        padding: 12px 20px;
        font-weight: bold;
        font-size: 16px;
    }

    .btn--ozon {
        background: linear-gradient(90deg, #00b0ff, #0085ff);
    }

    .btn--wb {
        background: linear-gradient(90deg, #a100ff, #c700ff, #8e2eff);
    }

    .goods__title {
        margin: 0 0 40px 0;
    }

    .goods__name {
        font-size: 24px;
    }

    .goods__price {
        font-size: 28px;
    }

    .reviews__title {
        margin: 0 0 40px 0;
    }

    .images__item {
        width: calc(100%);
    }

    .goods__item {
        width: calc(100vw - 40px);
    }

    .reviews__item {
        width: calc(100vw - 40px);
    }
}