.post__title {
    margin: 0 0 25px 0;
    font-size: 50px;
    line-height: 1;
}

.post img {
    display: block;
    width: 600px;
    height: auto;
    margin: 0 auto 15px auto;
}

.post p, .post ul, .post ol {
    margin: 0 0 15px 0;
}

.post h2, .post h3 {
    margin: 30px 0 15px 0;
}

table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  table-layout: auto;
  font-size: 18px;
  word-break: break-word;
}

thead th {
  text-align: left;
  padding: 8px 10px;
  background-color: #f3d7b0;
  font-weight: 600;
  border-bottom: 2px solid var(--main-color);
}

tbody td {
  padding: 8px 10px;
  border-bottom: 1px solid var(--main-color);
}

tbody tr:last-child td {
  border-bottom: none;
}

@media (max-width: 767px) {
    .post__title {
        font-size: 35px;
    }

    .post table {
        font-size: 14px;
    }

    .post img {
        width: 300px;
    }
}
