.footer {
    background-color: var(--main-color);
    font-size: 18px;
    color: #fff;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.footer__contacts {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.footer__contact {
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
    margin-bottom: 10px;
    transition: color 0.3s;
}

.footer__contact i {
    margin-right: 10px;
    color: #fff;
}

.footer__social-links {
    display: flex;
    gap: 20px;
}

.footer__social-link i {
    color: #fff;
    transition: color 0.3s;
}

.footer__social-link:hover .fa-vk {
    color: #0378ff;
}

.footer__social-link:hover .fa-whatsapp {
    color: #2dd46b;
}

.footer__menu-title {
    line-height: 1;
    margin: 0 0 5px 0;
}

.footer__menu-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer__menu-item {
    margin: 0;
}

.footer__copy {
    line-height: 1;
    margin: 0 0 10px 0;
}

.footer__policy, .footer__menu-item a {
    color: #fff;
    text-decoration: none;
}

.footer__contact:hover, .footer__policy:hover, .footer__menu-item a:hover {
    color: var(--color-text);
}

@media (max-width: 767px) {
    .footer__info, .footer__menu {
        margin-bottom: 20px;
    }
}
