.header {
    z-index: 2;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.header__logo {
    display: flex;
    align-items: center;
}

.header__menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.menu__list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    column-gap: 15px;
    row-gap: 15px;
}

.menu__item a {
    color: var(--color-support-text);
    font-weight: bold;
    transition: color 0.2s ease, transform 0.1s ease;
}

.menu__item--active a{
    color: var(--main-color);
}

.menu__item a:hover {
    color: var(--active-main-color);
}

.menu__item a:active {
    transform: scale(0.97);
}

/* Mobile menu */
.header__menu--mobile {
    display: none;
    position: absolute;
    justify-content: space-between;
    background-color: var(--main-color);
    overflow: hidden;
    right: 15px;
    top: 67px;
    z-index: 10;
}

.menu__list--mobile {
    margin: 0;
    padding: 0;
    height: 0;
    width: 0;
    list-style: none;
    text-align: left;
    
    transform: translateY(370px);
    transition: padding 0.4s ease-in-out, width 0.4s ease-in-out, height 0.4s ease-in-out 0.2s, transform 0.4s ease-in-out 0.2s;
}

.menu__list--open {
    padding: 0 20px;
    transform: translateY(0);
    height: 345px;
    width: 180px;
}

.menu__item--mobile a {
    display: block;
    padding: 13px 13px 13px 0;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    border-bottom: 1px dashed #fff;
    font-size: 16px;
}

.menu__item--mobile a:hover {
    color: var(--active-main-color);
}

.menu__icon {
    display: none;
    width: 50px;
    height: 50px;
    padding: 10px 10px;
    cursor: pointer;
    background-color: var(--main-color);
}

.menu__icon span {
    margin: 12px 0;
    display: block;
    width: 100%;
    height: 7px;
    background-color: #fff;
    transition: all 0.4s ease-in-out;  
}

.menu__icon span::before,
.menu__icon span::after {
    content: '';
    display: block;
    width: 100%;
    height: 7px;
    background-color: #fff;
    transition: all 0.4s ease-in-out;
}

.menu__icon span::before {
    transform: translate(0, -11px);
}
  
.menu__icon span::after {
    transform: translate(0, 4px);
}

.menu__icon--open {
    background-color: var(--active-main-color);
}

.menu__icon--open span {
    transform: rotate(45deg);
}

.menu__icon--open span::before {
    transform: rotate(90deg);
}
  
.menu__icon--open span::after {
    transform: rotate(-90deg) translate(7px , 0);
}

@media (max-width: 768px) {
    .header__container {
        padding: 40px 15px 0 15px;
    }
    
    .menu__icon {
        display: block;
    }

    .header__menu {
        display: none;
    }

    .header__menu--mobile {
        display: flex;
    }
}