.video {
    display: block;
}

.video h1 {
    margin: 0 0 25px 0;
    font-size: 50px;
    line-height: 1;
    order: 0;
}

.video p {
    margin: 0 0 15px 0;
    order: 1;
}

.video p:nth-child(3) {
    margin-bottom: 35px;
}

.video__holder {
    position: relative;
    max-width: 820px;
    margin: 20px auto;
    aspect-ratio: 16 / 9;
    border-radius: 8px;
    order: 2;
}

.video__holder iframe {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

@media (max-width: 767px) {
    .video {
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
    }

    .video h1 {
        font-size: 35px;
    }

    .video p:nth-child(3) {
        margin: 0px;
    }

    .video__holder {
        width: 80%;
        height: 80%;
        margin: 0 auto;
        margin-bottom: 15px;
        aspect-ratio: 9 / 16;
        order: 0;
    }
}