.hero {
    display: flex;
    justify-content: space-around;
    column-gap: 20px;
    row-gap: 10px;
    margin-bottom: 60px;
}

.hero__img {
    width: 450px;
    height: auto;
}

.hero__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.hero__title {
    margin: 0 0 25px 0;
    max-width: 500px;
    overflow-wrap: break-word;
    font-size: 50px;
    line-height: 1;
}

.hero__btn-holder {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 20px;
}

.hero__btn, .blog__btn, .company__btn {
    display: block;
    padding: 16px 28px;
    font-weight: bold;
    font-size: 20px;
    color: #fff;
    background-color: var(--main-color);
    box-shadow: 0 6px 16px rgba(255, 165, 58, 0.5);
    border: none;
    border-radius: 16px;
    text-decoration: none;
    cursor: pointer;
    transition: background 0.4s ease, color 0.4s ease;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.hero__btn:active {
    transform: scale(0.97);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.btn--ozon::before, .btn--wb::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #00b0ff, #0085ff);
    z-index: -1;
    opacity: 0;
    transition: opacity 0.4s ease;
    border-radius: 16px;
}

.btn--wb::before {
    background: linear-gradient(90deg, #a100ff, #c700ff, #8e2eff);
}

.btn--ozon:hover::before, .btn--wb:hover::before {
    opacity: 1;
}

.benefits {
    margin-bottom: 60px;
}

.benefits__list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    row-gap: 20px;
}

.benefits__item {
    display: flex;
    width: 220px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.benefits__img {
    width: 150px;
    height: auto;
    object-fit: contain;
}

.benefits__name {
    margin: 0;
    font-size: 24px;
    text-align: center;
}

/* goods and reviews */

.goods {
    margin-bottom: 60px;
}

.reviews {
    margin-bottom: 30px;
}

.goods__wrapper, .reviews__wrapper {
    position: relative;
    overflow: hidden;
    max-width: 1170px;
    padding-left: 10px;
}

.goods__title, .reviews__title, .benefits__title, .category__title {
    margin: 0 0 25px 0;
    font-size: 30px;
    text-align: center;
}

.goods__list, .reviews__list {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    padding: 0;
    margin: 0;
    list-style: none;
}

.goods__list::-webkit-scrollbar, .reviews__list::-webkit-scrollbar {
    display: none;
}

.goods__item, .reviews__item {
    scroll-snap-align: start;
    flex-shrink: 0;
    margin: 10px;
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;
}

.goods__item {
    width: 265px;
    padding: 16px;
    text-align: center;
}

.goods__item a {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-decoration: none;
    color: inherit;
}

.reviews__item {
    width: 560px;
}

.goods__item:hover, .reviews__item:hover, .category__item:hover {
    transform: translateY(-4px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.goods__item:active, .reviews__item:active, .category__item:active {
    transform: scale(0.98);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.goods__img, .reviews__img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.goods__img {
    margin-bottom: 12px;
}

.reviews__img {
    object-fit: cover;
}

.goods__name {
    margin: 0;
    font-size: 20px;
}

.goods__price {
    font-size: 22px;
    font-weight: bold;
    color: var(--main-color);
}

.slider__btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--main-color);
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-size: 20px;
    cursor: pointer;
    z-index: 5;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease;
    opacity: 0.5;
}

.slider__btn:hover {
    background-color: var(--active-main-color);
    opacity: 1;
}

.slider__btn:active {
    transform: translateY(-50%) scale(1.05);
}

.slider__btn--prev {
    left: 10px;
}

.slider__btn--next {
    right: 10px;
}

.modal {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.7);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal--active {
  display: flex;
}

.modal__img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  border-radius: 8px;
}

/* category */

.category {
    margin-bottom: 60px;
}

.category__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.category__item {
    max-width: 370px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    padding: 24px;
    text-align: center;
}

.category__item a {
    color: #000;
    text-decoration: none;
}

.category__figure {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.category__image {
    width: 300px;
    height: auto;
    object-fit: cover;
    object-position: center;
    margin-bottom: 10px;
}

.category__info {
    max-width: 400px;
}

.category__name {
    margin: 0;
    font-size: 26px;
    font-weight: bold;
}

.category__description {
    margin: 0;
    font-size: 16px;
    color: var(--color-support-text);
    font-style: italic;
}

/* blog */

.blog {
    background-color: #fff;
    border-radius: 16px;
    padding: 16px;
    margin-bottom: 25px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.blog__title {
    margin: 0 0 20px 0;
    font-size: 30px;
}

.blog__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.blog__description-holder {
    max-width: 600px;
}

.blog__description {
    margin: 0 0 20px 0;
}

.blog__image {
    max-width: 380px;
    height: auto;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.blog__btn, .company__btn {
    width: 240px;
    text-align: center;
}

.blog__btn:hover, .company__btn:hover {
    background: var(--active-main-color);
}

.blog__btn:active, .company__btn:active {
    transform: scale(0.97);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

/* company */

.company {
    margin-bottom: 25px;
}

.company__title {
    margin: 0 0 20px 0;
    font-size: 30px;
    text-align: center;
}

.company__content p {
    margin: 0 0 15px 0;
}

.company__btn {
    margin: 0 auto;
}

/* mobile styles */

@media (max-width: 1024px) {
    .goods__item {
        width: calc(50vw - 50px);
    }

    .reviews__item {
        width: calc(100vw - 50px);
    }

    .category__item {
        max-width: 800px;
        width: 800px;
    }

    .category__figure {
        flex-direction: row;

    }

    .category__image {
        height: 200px;
        width: auto;
    }

    .blog__title {
        text-align: center;
    }

    .blog__btn, .company__btn {
        margin: 0 auto;
    }
}

@media (max-width: 767px) {
    .hero {
        margin-bottom: 30px;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .hero__content {
        align-items: center;
    }
    
    .hero__img {
        width: 250px;
        height: auto;
    }

    .hero__title {
        font-size: 36px;
        line-height: 1.2;
        text-align: center;
    }

    .hero__btn-holder {
        justify-content: center;
    }

    .hero__btn {
        padding: 12px 20px;
        font-weight: bold;
        font-size: 16px;
    }

    .btn--ozon {
        background: linear-gradient(90deg, #00b0ff, #0085ff);
    }

    .btn--wb {
        background: linear-gradient(90deg, #a100ff, #c700ff, #8e2eff);
    }

    .benefits {
        margin-bottom: 30px;
    }

    .benefits__title {
        margin: 0 0 25px 0;
    }

    .benefits__img {
        width: 100px;
        height: 100px;
        object-fit: contain;
    }

    .goods {
        margin-bottom: 30px;
    }

    .goods__title {
        margin: 0 0 25px 0;
    }

    .goods__name {
        font-size: 24px;
    }

    .goods__price {
        font-size: 28px;
    }

    .category {
        margin-bottom: 30px;
    }

    .category__list {
        row-gap: 10px;
    }

    .category__item {
        max-width: 500px;
    }

    .category__figure {
        flex-direction: row;
    }

    .category__name {
        font-size: 25px;
    }

    .category__image {
        height: 90px;
        width: auto;
        margin-right: 10px;
    }

    .catalog__name, .catalog__item:first-child .catalog__name {
        margin-top: 0;
        font-size: 25px;
    }

    .category__description {
        margin-bottom: 0;
        width: auto;
        font-size: 16px;
    }

    .blog__image {
        max-width: 300px;
        height: auto;
    }

    .reviews__title {
        margin: 0 0 40px 0;
    }

    .goods__item {
        width: calc(100vw - 50px);
    }

    .reviews__title {
        margin: 0 0 25px 0;
    }

    .reviews__item {
        width: calc(100vw - 50px);
    }
}