.politica__title {
    margin: 0 0 25px 0;
    font-size: 50px;
    line-height: 1;
}

.politica h2, .politica h3 {
    margin: 30px 0 15px 0;
}

.politica p, .politica ul, .politica ol {
    margin: 0 0 15px 0;
}

@media (max-width: 767px) {
    .politica__title {
        font-size: 30px;
    }
}