.sitemap__title {
    margin: 0 0 25px 0;
    font-size: 50px;
    line-height: 1;
}

.page__list {
    margin: 0; 
}

.page a {
    color: var(--color-text);
}

.page a:hover {
    color: var(--active-main-color);
}

@media (max-width: 767px) {
    .sitemap__title {
        font-size: 30px;
    }
}